<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- ======= 数据源 配置开始 ========================================= -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${src.db.driver}" />
		<property name="url" value="${src.db.url}" />
		<property name="username" value="${src.db.username}" />
		<property name="password" value="${src.db.password}" />
	</bean>
	<bean id="targetDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${target.db.driver}" />
		<property name="url" value="${target.db.url}" />
		<property name="username" value="${target.db.username}" />
		<property name="password" value="${target.db.password}" />
		<property name="connectionProperties" value="${target.db.connectionProperties}"/>
	</bean>
	
	<bean id="srcJndi" class="com.forms.platform.core.database.jndi.JndiImpl" p:dataSource-ref="dataSource" p:name="src"/>
	<bean id="targetJndi" class="com.forms.platform.core.database.jndi.JndiImpl" p:dataSource-ref="targetDataSource" p:name="target"/>
	
	<bean id="log4jdbcInterceptor" class="net.sf.log4jdbc.DataSourceSpyInterceptor" />  
	<bean id="dataSourceLog4jdbcAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">  
	   <property name="interceptorNames">  
	       <list>  
	          <value>log4jdbcInterceptor</value>          
	       </list>  
	   </property>  
	   <property name="beanNames">  
	       <list>  
	          <value>dataSource</value>
	          <value>targetDataSource</value>
	       </list>  
	   </property>  
	</bean>
	<!-- ======= 数据源 配置结束 ========================================= --> 
	
	<!-- ======= 事务 配置开始 ========================================= -->
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	<!-- 事务管理 -->
	<bean id="txManager" p:dataSource-ref="dataSource" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"/>
    <!-- ======= 事务 配置结束 ========================================= -->
</beans>
